{% load static %}
<html>
<head>
   <link rel="stylesheet" href="{% static 'css/index.css'%}" type="text/css">
</head>
<body>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <div class="loader">
        <div class="loader_inner"></div>
    </div>
    <script>
//используем jQuery, чтоб добавить анимацию fadeOut и fadeIn
         $(".loader").delay(400).fadeOut("slow");
         window.onload = () => {
         $("#btn_addNew").on("click", ()=> {
             $(".loader").delay(300).fadeIn("slow");
             setTimeout(()=> {
                 location.href = 'view/'
             }, 1300)
         })}
    </script>
</body>
</html>